---
import provigil from "../images/pro-vigil.png";
import saltpay from "../images/saltpay.png";
import karcher from "../images/karcher.png";
import vi from "../images/vi.png";
import Augusta from "../images/Augusta.png";
import sailinternet from "../images/sailinternet.png";
import { Image } from "astro:assets";
---

<div class="mx-auto companies py-4 bg-[#e6e6e65c]">
  <div class="flex flex-wrap -mx-4 container">
    <div class="w-full marquee">
      <div
        class="text-up js-scroll flex flex-wrap justify-center items-center gap-10 marquee-content"
      >
        <Image class="" src={provigil} alt="provigil" />
        <Image class="" src={saltpay} alt="saltpay" />
        <Image class="" src={karcher} alt="karcher" />
        <Image class="" src={vi} alt="vi" />
        <Image class="" src={Augusta} alt="Augusta" />
        <Image class="" src={sailinternet} alt="sailinternet" />
      </div>
    </div>
  </div>
</div>
